*{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
  
}

.content{
  font-size: 28px;
  font-weight: 600;
}
button{
  width:150px;
  height:40px;
  text-align:center;
  font-size: 30px;
}